<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>


        <form th:method="POST"
              th:action="@{/memorys/save}"
              th:object="${memory}"
              enctype="multipart/form-data">

            <div> 
                <label>Nombre:</label>
                <input type="text" th:field="*{name}" />
            </div>
            <div> 
                <label>Rango:</label>
                <input type="text" th:field="*{rank}" />
            </div>
            <div> 
                <label>Descripcion:</label>
                <input type="text" th:field="*{description}" />
            </div>
            <div> 
                <label>Imagen:</label>
                <input type="file" name="memPhoto" accept="image/*"/>
            </div>
            
            <div>
                <button type=" submit" required>Guardar</button>
                <a href="/index"> Cancelar</a>
            </div>
            
        </form>

    </body>
</html>
